/* fix scrolling on list pages */
#s4-bodyContainer {
	position: relative;			
}

/* hide body scrolling (SharePoint will handle) */
body {
  height: 100%;
  margin: auto;
  overflow: auto;
  width: 1280px;
  font-family: "Lucida Sans", "Arial";
}

#background-repository { 
	width:1280px; 
	position: relative;
	top: 0; 
	margin:auto;
	z-index:-9999; 
}

img.bg-image { 
	width:1280px; 
	position: absolute;
	top: 0; 
	margin:auto;
	z-index:-9999; 
}
		
body #s4-bodyContainer {
  background-color: white;
  min-height: 1345px;
  left: 0px;
  margin: auto;
  position: absolute;
  top: 117px;
  min-width:1000px;
}


body #s4-ribbonrow{
	position: absolute;
	max-width:1280px;
	overflow-y:visible;
}

a,img{
	border:none;
}

a.no-decoration{
	text-decoration:none !important;
}

/*.menu .menu-item, .menu .menu-item .additional-background, .menu .menu-item .additional-background .menu-item-text {
  display: table-cell;
}*/

.nav-item-va{
	background:url('/Style Library/mm/img/banda_azzurra.png') transparent no-repeat -10px -10px scroll;
}

.nav-item-op{
	background:url('/Style Library/mm/img/banda_rossa.png') transparent no-repeat -10px -10px scroll;
}

.nav-item-st{
	background:url('/Style Library/mm/img/banda_grigia.png') transparent no-repeat -10px -10px scroll;

}

/* footer - BEGIN */

.mm-footer {
  background-color: #E9EAEA;
  height: 95px;
  width: 1000px;
  position:absolute;
  bottom: -95px;
}

.footer-item{
	float:left;
}

.footer-link{
	margin-right: 20px;
	color: #666666;
	font-weight:bold;
	
}

#mm-footer-content{
	position:relative;
	top:25px;
	left:15px;
}

#footer-disclaimer{
	width: 730px;
	height: 40px;
	margin-right:10px;
	text-align:justify;
}

/* footer - END */

/*categories - BEGIN*/

.category-container{
	display: table;
	width: 220px;
}

/*.category-row{
	display: table-row;	
}*/

.category-row {
  background-color: #D3D3D3;
  display: block;
  height: 60px;
  margin-bottom: 7px;
}


.category-cell {
  color: #333;
  display: table-cell;
  font-weight: normal;
  font-size: 14px;
  height: 60px;
  margin-bottom: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-left: 20px;
  width: 218px;
}

.category-cell a:active{
	color: #333;
	text-decoration:none;
}


.category-cell a:hover{
	color: #333;
	text-decoration:none;
}


.category-cell a:visited{
	color: #333;
	text-decoration:none;
}


.category-cell a:link{
	color: #333;
	text-decoration:none;
}


.red{
	background: #E72E35 none no-repeat scroll 0 0;		
}

.gray{
	background: #E9E9E9 none no-repeat scroll 0 0;	
}

.azure{
	background: #A6B2CA none no-repeat scroll 0 0;	
}


/*categories - END*/

/* box contenuti - BEGIN*/

.sc-box{
	height: 260px; 
	color:white; 
	/*font-family:verdana; */
	font-size: 12px;	
}

.sc-box-blog{
	height: 250px; 
	color:black; 
	/*font-family:verdana; */
	font-size: 12px;
	padding: 20px;	
	border: 3px solid #E9EAEA;
}

.sc-box .transparent{
	background: none repeat scroll 0 0 rgba(59, 59, 59, 0.5);
	bottom: 3px;
	height: 145px;
	left: 2px;
	padding: 10px 15px 0;
	position: absolute;
	width: 295px;	
	/* For IE 5.5 - 7*/
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10);
 	/* For IE 8*/
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10); 
}

.row-news-item{
	float:left; 
	width:330px; 
	height: 260px; 
	margin: 5px; 
	position:relative;	
}

.row-news-item a:active{
	color: white;
	text-decoration:none;
}


.row-news-item a:hover{
	color: white;
	text-decoration:none;
}


.row-news-item a:visited{
	color: white;
	text-decoration:none;
}


.row-news-item a:link{
	color: white;
	text-decoration:none;
}


.row-sc-item{
	float:left; 
	width:30%; 
	margin: 0px 21px 21px 0px;
}

.mm-news-background-color{
	height: 260px;
	padding: 3px; 
	background-color: #A6B2CA; 
	color:white; 
	/*font-family:verdana;*/ 
	font-size: 12px;
}

mm-news-side-image{
	height: 260px; 
	padding: 3px;
	/*font-family:Verdana;*/
	font-size:13px;	
}



/* box contenuti - END*/

/*dettaglio contenuto sc e news*/

.content-detail{
	font-size:10pt;
}

.content-detail .header .header-title .header-title-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:10px;
}

.content-detail .header .header-title .header-pubblication-date {
  color: gray;
  font-size: 11px;
  font-weight: normal;
}

.content-detail .content-body {
  color: black;
  font-size: 12px;
  /*font-family:Verdana;*/
  font-weight: normal;
  margin-bottom: 10px;
}

.content-detail .sign{
	font-style: italic; 
	position:relative; 
	right: -80%; 
	margin-top: 40px;
	font-size:10pt;
}

.document-table{
	font-size: 8pt;
}

/*LOADING IMAGE*/
.modal {
    display:    none;
    position:   relative;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100px;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/Style Library/mm/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.i-like-section.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.i-like-section.loading .modal {
    display: block;
}

/*OVERLAY IMMAGINI - BEGIN*/

/* the overlayed element */
.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
      background: none repeat scroll 0 0 rgba(59, 59, 59, 0.8);    

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    
      /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10);
  /* For IE 8*/
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10); 

}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url('/Style Library/mm/img/close.png');
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.thumb-container{
	float:left;
	width: 150px; 
	height: 150px; 
	margin-right: 10px; 
	line-height: 150px;	
}

.thumb-container img{
	max-width:150px; 
	min-width:120px; 
	max-height: 150px; 
	cursor:pointer; 
	vertical-align: middle;
}

/*OVERLAY IMMAGINI - END*/

/*  BOX NEWS - BEGIN*/

.sc-box-news{
	height: 260px; 
	color:white; 
	/*font-family:Arial, Helvetica, sans-serif; */
	font-size: 12pt;
}

.sc-box-news .title{
	font-size: 11pt; 
	font-weight: bold;
	margin-bottom: 10px;
}

.sc-box-news .sub-title{
	font-size: 10pt;
	font-weight: bold; 
	margin-bottom: 10px;
}

.sc-box-news .abstract{
	font-size: 9pt; 
}

.sc-box-news .date{
	height: 20px; 
	font-size: 8pt; 
	position:absolute; 
	bottom: 5px;
	right: 10px;
}



.sc-box-news .transparent {
  background: none repeat scroll 0 0 rgba(59, 59, 59, 0.8);
  bottom: 0;
  height: 145px;
  padding: 10px 15px 0;
  position: absolute;
  width: 300px;
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10);
  /* For IE 8*/
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3B3B3B10, endColorstr=#3B3B3B10); 

}


.azure-strip, .red-strip, .gray-strip{
	position:relative;
	top:-260px;
	left:0px;
	width:50px;
	height:50px;
	
}
.azure-strip{
	background:transparent url('/Style Library/mm/img/banda_azzurra.png') no-repeat scroll top left;
}

.red-strip{
	background:transparent url('/Style Library/mm/img/banda_rossa.png') no-repeat scroll top left;

}

.gray-strip{
	background:transparent url('/Style Library/mm/img/banda_grigia.png') no-repeat scroll top left;
}

/*  BOX NEWS - END*/

/* BOX SCHEDE CONTENUTO - BEGIN*/

.sc-box-sc{
	height: 200px; 
	padding: 15px; 
	color:white; 
	/*font-family:Arial, Helvetica, sans-serif; */
	font-size: 12pt; 
	position: relative;		
}

.bg-box-gray-color .sc-box-sc, .bg-box-gray-color .sc-box-sc a{		
	color: #A6B2CA;
}

.bg-box-gray-color .sc-box-news, .bg-box-gray-color .sc-box-news a{		
	color: #A6B2CA;
}


.sc-box-sc a{		
	color: #FFFFFF;
}


.sc-box-sc .title{
	font-size: 11pt; 
	font-weight: bold;
	margin-bottom: 10px;
}

.sc-box-sc .sub-title{
	font-size: 10pt;
	font-weight: bold; 
	margin-bottom: 10px;
}

.sc-box-sc .abstract{
	font-size: 9pt; 
}

.sc-box-sc .date{
	height: 20px; 
	font-size: 8pt; 
	position:absolute; 
	bottom: 5px;
	right: 10px;
}


/* BOX SCHEDE CONTENUTO - END*/


/* BOX ITEM ELENCO - BEGIN*/

/*
 * I box item elenco utilizzano lo stesso styling delle schede contenuto (vedi 'BOX SCHEDE CONTENUTO').
 * Qui ci sono solo stili che si applicano ai soli item elenco.
 */

.item-list-link{
	height: 20px;
	width:170px; 
	font-size: 10pt; 
	position:absolute; 
	bottom: 30px;
	left: 10px;
	cursor: pointer;	
	z-index:9999;		
}

.item-list-link > a {
  text-decoration:underline;
}

/* BOX ITEM ELENCO - END*/

/*ITEM ELENCO - LISTING SEZIONE - BEGIN*/
.item-elenco-main-container a{
	text-decoration:none;
	color:#000;
}

.item-elenco.listing-container {
  border-bottom: 1px dotted #666666;
  height: 85px;
  margin-bottom: 16px;
}

.item-elenco-img {
	float: left;
	max-height: 80px;
	max-width: 80px;
	margin-right:10px;	
}

.item-elenco-content {
  /*font-family: Arial;*/
  height: 80px;
}

.item-elenco.title{
	font-size:11pt;
	margin-right: 10px;	
	font-weight: bold;
}

.item-elenco.data{
	font-style:italic;
	font-size:13pt;	
}

.item-elenco.data:after{
	content: ' - ';
}

.item-elenco.abstract {
  font-size: 9pt;
  padding-top: 5px;
}

/*ITEM ELENCO - LISTING SEZIONE - END*/

/*BOX DI SPALLA - BEGIN*/

.sidebox-sc-container{
	width: 230px; 
	height: 85px; 
	font-size: 12px; 
	position: relative; 
	margin-bottom: 10px;
	color:#333;
	padding: 4px;
	border-bottom:1px dotted #333;
}

.sidebox-sc-container .title{
	font-size: 10pt; 
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebox-sc-container .sub-title{
	font-size: 8pt; 
}

.sidebox-sc-container .abstract{
	font-size: 8pt; 
}


/*BOX DI SPALLA - END*/

/*BOX COLORS - BEGIN*/

.bg-box-red-color{
	background: #E72E35 none no-repeat scroll 0 0;		
}

.bg-box-azure-color{
	background: #A6B2CA none no-repeat scroll 0 0;	
}

.bg-box-gray-color{
	background: #E9E9E9 none no-repeat scroll 0 0;	
}

/*BOX COLORS - END*/

/*FIRME - BEGIN*/
.firma{
	display:table-cell; 
	vertical-align: middle; 
	padding-left: 15px; 
	font-size: 12px; 
	color: #333333;
}
/*FIRME - END*/

/*RASSEGNA STAMPA BOX - BEGIN*/

.rassegna-stampa-box{
 	background: transparent url("/Style Library/mm/img/rassegna_stampa.jpg") no-repeat scroll 10px -20px / 120%;
    height: 165px;
    width: 220px;
    margin-top: -17px;
}

a.rassegna-stampa-link:hover{
	text-decoration: none !important;
}

a.rassegna-stampa-link:visited,
a.rassegna-stampa-link:active
{
	border:0px none !important;
	text-decoration: none !important;	
}

/*RASSEGNA STAMPA BOX - END*/

/*TITOLI SEZIONI - BEGIN*/
.section-title{
	border-left: 3px solid #A6B2C8; 
	font-size: 14px; 
	padding-left: 16px; 
	color: #333; 
	text-transform: uppercase; 
	height: 16px; 
	font-weight: bold; 
	margin-bottom: 20px;
}
/*TITOLI SEZIONI - END*/

/*PAGINAZIONE - BEGIN*/
.ms-paging {
  color: #666666;
  font-family: lUcida Sans;
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 11px;
  padding-right: 11px;
  white-space: nowrap;
}
/*PAGINAZIONE - END*/



/*PRINT MEDIA TYPE - BEGIN*/

@media print {
	#background-repository, .menu-horizontal, .s4-search{
		display:none;
	}
}

/*PRINT MEDIA TYPE - END*/


/*=== 2013 ===*/

#s4-workspace {
  overflow:visible !important;
  width: 1000px !important;
  margin:auto;
  top:12px;
}

#s4-titlerow {
    padding-top: 0px;
}

.ms-core-pageTitle{
	display:none;
}

/* NAVIGATION */

#DeltaTopNavigation {
    background-color: #EAEAEA;
    border-bottom: 1px solid #DEDEDE;
    border-top: 4px solid #DEDEDE;
    display: table;
    height: 49px;
    width: 100%;
}

#DeltaTopNavigation ul{
	padding:0px !important;
}

#DeltaTopNavigation span {
    /*border-left: 1px solid #DEDEDE;*/
    border-right: 1px solid #DEDEDE;
    height: 49px;
    width: 163px;
    /*float: left;*/
    
    color: #333333;
    /* font-family: arial; */
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 160px;
    display: table-cell;
}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
    margin-right: 0px;
    border: none;
}

/*Search box*/
#DeltaSearch {
    width: 229px;
    position: relative;
    top: -40px;
    left: 729px;
    background-color: white;
}

#DeltaSearch a#ctl00_PlaceHolderSearchArea_SmallSearchInputBox1_csr_NavButton{
	display: none;
}

#s4-ribbonrow{
	z-index: 1;
}

/*Content space*/
#sideNavBox{
	display:none !important;
}

#contentBox{
	margin-left:0px;
    margin-right: 0px;
    width: 1000px;
}

#contentBox table.ms-webpartPage-root{
	border-spacing: 0;
    padding: 40px;
}









